* {
    box-sizing: border-box;
}
body {
    font-family: Arial,serif;
    margin: 0;
}

.header{
    padding:  60px;
    text-align:  center;
    background: deepskyblue;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 60%;
    background-color: white;
    padding: 20px;

}

.side {
    flex: 40%;
    background-color: #f1f1f1;
    padding: 20px;
    align-content: center;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.functions{
    border:  1px solid black;
    border-collapse: collapse;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 25%;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: deepskyblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: greenyellow;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

.cinema-line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#seats-canvas{
    border: 1px solid #000000;
}

#availability-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.administrator-section{
    display: flex;
    border:1px solid black;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
